doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bower_components/normalize.css/normalize.css')
    //- link(rel='stylesheet', href='css/main.css')
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#entry

    script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js', data-main='index')
    script.
      require.config({
        paths: {
          'jquery': 'bower_components/jquery/dist/jquery.min',
          'JSXTransformer': 'bower_components/react/JSXTransformer',
          'jsx': 'bower_components/jsx-requirejs-plugin/js/jsx',
          'react': 'bower_components/react/react',
          'text': 'bower_components/requirejs-text/text'
        }
      });

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
